includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - tests

    level: max

    noUnnecessaryCollectionCall: false

    stubFiles:
        - stubs/Corcel.stub

    ignoreErrors:
        -
            message: '#Access to an undefined property Faker\\Generator::\$[a-zA-Z]+?\.#'
            path: tests/*